Week_11/SOAPClient/SOAPClient/Service References/SenecaES/EmployeeService31.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:4354/EmployeeService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AssociationsOther.Controllers" />
  <xs:element name="HelloWorld">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="HelloWorldResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="HelloWorldResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AllEmployees">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AllEmployeesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/AssociationsOther.Controllers" minOccurs="0" name="AllEmployeesResult" nillable="true" type="q1:ArrayOfEmployeeBase" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EmployeeById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EmployeeByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/AssociationsOther.Controllers" minOccurs="0" name="EmployeeByIdResult" nillable="true" type="q2:EmployeeBase3" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddEmployee">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/AssociationsOther.Controllers" minOccurs="0" name="newItem" nillable="true" type="q3:EmployeeAdd" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddEmployeeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/AssociationsOther.Controllers" minOccurs="0" name="AddEmployeeResult" nillable="true" type="q4:EmployeeBase" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>