Week_11/SOAPClient/SOAPClient/Service References/SenecaES/EmployeeService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="EmployeeService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:4354/EmployeeService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:4354/EmployeeService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:4354/EmployeeService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AssociationsOther.Controllers" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IEmployeeService_HelloWorld_InputMessage">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="IEmployeeService_HelloWorld_OutputMessage">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="IEmployeeService_AllEmployees_InputMessage">
    <wsdl:part name="parameters" element="tns:AllEmployees" />
  </wsdl:message>
  <wsdl:message name="IEmployeeService_AllEmployees_OutputMessage">
    <wsdl:part name="parameters" element="tns:AllEmployeesResponse" />
  </wsdl:message>
  <wsdl:message name="IEmployeeService_EmployeeById_InputMessage">
    <wsdl:part name="parameters" element="tns:EmployeeById" />
  </wsdl:message>
  <wsdl:message name="IEmployeeService_EmployeeById_OutputMessage">
    <wsdl:part name="parameters" element="tns:EmployeeByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IEmployeeService_AddEmployee_InputMessage">
    <wsdl:part name="parameters" element="tns:AddEmployee" />
  </wsdl:message>
  <wsdl:message name="IEmployeeService_AddEmployee_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddEmployeeResponse" />
  </wsdl:message>
  <wsdl:portType name="IEmployeeService">
    <wsdl:operation name="HelloWorld">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmployeeService/HelloWorld" message="tns:IEmployeeService_HelloWorld_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmployeeService/HelloWorldResponse" message="tns:IEmployeeService_HelloWorld_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AllEmployees">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmployeeService/AllEmployees" message="tns:IEmployeeService_AllEmployees_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmployeeService/AllEmployeesResponse" message="tns:IEmployeeService_AllEmployees_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EmployeeById">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmployeeService/EmployeeById" message="tns:IEmployeeService_EmployeeById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmployeeService/EmployeeByIdResponse" message="tns:IEmployeeService_EmployeeById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddEmployee">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmployeeService/AddEmployee" message="tns:IEmployeeService_AddEmployee_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmployeeService/AddEmployeeResponse" message="tns:IEmployeeService_AddEmployee_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IEmployeeService" type="tns:IEmployeeService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/IEmployeeService/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AllEmployees">
      <soap:operation soapAction="http://tempuri.org/IEmployeeService/AllEmployees" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EmployeeById">
      <soap:operation soapAction="http://tempuri.org/IEmployeeService/EmployeeById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddEmployee">
      <soap:operation soapAction="http://tempuri.org/IEmployeeService/AddEmployee" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EmployeeService">
    <wsdl:port name="BasicHttpBinding_IEmployeeService" binding="tns:BasicHttpBinding_IEmployeeService">
      <soap:address location="http://localhost:4354/EmployeeService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>